/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  App                                                  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import url(./reset.css);

:root {
    --app-background-color: #181720;
    --app-blue: #0067ff;
    --app-blue-hover: #0057d8;
  }

body {
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
    background-color: var(--app-background-color);
    position: relative; 
}

.container { 
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

h1, p, i {
    color: #fff;
}

.center {
    min-width: 100%;
    height: 100dvh;
    display: grid;
    place-items: center;
}

.flex {
    display: flex;
}

.gap-20 {
    gap: 20;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Main                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

h1 {
    text-transform: uppercase;
}

form {
    margin-top: 20px;
    width: 500px;
}

.content {
    text-align: center;
}

input[type=text] {
    width: 350px;
    height: 44px;
    padding: 0 20px;
    border: 1px solid rgb(255 255 255 / 0.05);
    background-color: rgb(255 255 255 / 0.05);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    transition: all 0.25s ease-in-out;
    margin-right: 5px;
}
  
input[type=text]:focus {
    border: 1px solid var(--app-blue-hover);
}
  
input[type=button] {
    width: 120px;
    height: 44px;
    text-align: center;
    background-color: var(--app-blue);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 800;
    color: #fff;
    transition: all 0.25s ease-in-out;
}

input[type=button]:hover {
    background-color: var(--app-blue-hover);
}

.search-dialog {
    display: none;
    background-color: #fff;
    margin-top: 8px;
    margin-left: 11px;
    border-radius: 6px;
    width: 350px;
}

.search-dialog.visible {
    display: block;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Component                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
