/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  App                                                  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import url(./reset.css);

:root {
    --app-background-color: #181720;
    --app-blue: #0067ff;
    --app-blue-hover: #0057d8;
  }

body {
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
    background-color: var(--app-background-color);
}

.container { 
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

h1, h2, p, i {
    color: #fff;
}

.center {
    min-width: 100%;
    height: 100dvh;
    display: grid;
    place-items: center;
}

.center-b {
    min-width: 100%;
    display: grid;
    place-items: center;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.gap-20 {
    gap: 20px;
}

.gap-10 {
    gap: 10px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Main                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.search-place {
    position: relative;
}

h1 {
    text-transform: uppercase;
}


form {
    margin-top: 20px;
    width: 500px;
}

.content {
    text-align: center;
}

input[type=text] {
    width: 350px;
    height: 44px;
    padding: 0 20px;
    border: 1px solid rgb(255 255 255 / 0.05);
    background-color: rgb(255 255 255 / 0.05);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    transition: all 0.25s ease-in-out;
    margin-right: 5px;
}
  
input[type=text]:focus {
    border: 1px solid var(--app-blue-hover);
}
  
input[type=button] {
    width: 120px;
    height: 44px;
    text-align: center;
    background-color: var(--app-blue);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 800;
    color: #fff;
    transition: all 0.25s ease-in-out;
}

input[type=button]:hover {
    background-color: var(--app-blue-hover);
}

.search-dialog {
    display: none;
    background-color: #fff;
    margin-top: 8px;
    margin-left: 11px;
    border-radius: 6px;
    width: 350px;
    position: absolute;
    z-index: 10000;
}

.search-dialog ul {
    text-decoration: none;
    text-align: left;
}

.search-dialog li {
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-dialog li:first-child {
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px;
}

.search-dialog li:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.search-dialog li:hover {
    background-color: var(--app-blue-hover);
}

.search-dialog .notfound:hover {
    background-color: #fff;
}

.search-dialog.visible {
    display: block;
}

.selected-movie {
    visibility: hidden;
    margin-top: 20px;
    padding: 10px;
    height: 340px;
    width: 700px;
    text-align: left;
    transform: translateY(-10px);
    transition: all 0.25s ease-in-out;
}

.selected-movie.visible {
    visibility: visible;
    transform: translateY(0px);
}

.movie-content {
    padding: 40px 0;
}

.movie-image img {
    height: 320px;
}

.movie-details {
    width: 130px;
}

.circle {
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: #fff;
    margin: 8px 0;
}

.selected-movie article {
    margin-top: 20px;
    width: 400px;
}

.genre p {
    color: #757575;
    background-color: rgb(255 255 255 / 0.05);
    border-radius: 50px;
    padding: 5px 10px;
    margin-top: 10px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Component                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
